body {
    display: flex;
    flex-direction: column;
    background-image: url(https://i.imgur.com/OT0iHSb.gif?1);
    background-size: cover;
    margin: 0 auto;

}

h1 {
    display: flex;
    font-size: 100px;
    text-shadow: 1px 1px lightgray;
    font-style: italic;
    color: greenyellow;
    justify-content: space-around;
}

main {

}

.left {
  

}

.clock {
    display: flex;
    flex-direction: column;
    margin: 50px;
    justify-content: flex-end;
}

.social {
   
    color: rgb(185, 209, 9);
}

.aboutUs {
    color: rgb(167, 10, 125);
    text-shadow: 2px 2px white;
}

.center {
    display: flex;
    

}


.fartButton{
  
    

}


.meter {}


.table {}

.right {
    display: flex;
    justify-content: flex-end;

}

.button {
    display: flex;
    flex-direction: column;
}

.image {}

.zappa {
display: flex;
height: 500px;
 margin-top: 200px;
   
}